.App {
  text-align: center;
  font-family: Comic Sans Ms;
  font-style: italic;
}

body {
  background-color: rgba(245, 245, 29, 0.37);
  /* background-color: rgb(104, 212, 212); */
  /* background-color: rgb(87, 223, 223); */
}

.App-header {
  background-color: rgb(4, 158, 4);
  align-items: center;
  justify-content: center;
  margin: 5px 0;
  margin-bottom: 20px;
  padding: 15px;
  font-size: x-large;
  border: 2px solid red;
  border-radius: 20px;
  color: yellow;
  box-shadow: 0 5px 10px black;
}

 
table {
  table-layout: fixed;
}

td {
  white-space: normal !important;
  word-wrap: break-word;
}

.badge {
  padding: 4px 20px;
  font-size: small;
}

.upcoming-header {
  background-color: orange;
  border-radius: 20px;
  padding: 7px;
  margin-top: 5px;
  box-shadow: 0 5px 10px black;
}
.completed-header {
  background-color: rgb(4, 158, 4);
  border-radius: 20px;
  padding: 7px;
  box-shadow: 0 5px 10px black;
  margin-top: 25x;
}

.bg-lightGreen {
  background-color: lightgreen;
  border-radius: 20px;
}

.bg-lightOrange {
  background-color: rgba(255, 166, 0, 0.431);
  border-radius: 20px;
}

th {
  text-transform: capitalize;
}

tr{
  border-bottom: 2px white solid;
}

.btn{
  box-shadow: 0 5px 10px black;
  margin-bottom: 2px;
}

input{
  box-shadow: 0 2px 2px black;
}